body{
    font-family: 'Roboto', sans-serif;
}

.navbar{
    background-color: #0038A8;
}

.nav-link{
    font-family: 'Exo 2', sans-serif;
}

#cabecalho .nav .nav-link.active{
    background-color: #fff;
    color: #0038A8;
}

#cabecalho .nav .nav-link,
.navbar-brand,
.navbar-brand:hover,
.nav-produtos .nav-link.active:hover{
    color: #fff;
}

.navbar-toggler{
    background-color: #C0C0C0;
}

.section-title {
    font-family: 'Orbitron', sans-serif;
}

#sobre, #produtos{
    background-color: #C0C0C0;
}

.brands-list img{
    height: 30px;
}

.brands-list li{
    display: inline;
    margin-right: 8px;
}

.text-colored{
    color: #0038A8;
}

.nav-produtos .nav-link.active,
#fale-conosco button{
    background-color: #0038A8;
    color: #fff;
}

.nav-produtos .nav-link:hover{
    color: #0038A8;
}

.social-links li{
    list-style: none;
    display: inline;
    text-decoration: none;
}

.social-links a{
    text-decoration: none;
}
